@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
	font-family: 'Lexend Deca', sans-serif;
	color: #3b0f0f;
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 14px;
	height: 0;
}

::-webkit-scrollbar-track {
	background: #ffedd2;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(0 0 0 / 20%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(0 0 0 / 70%);
}

html {
	background: black;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	background: url('./background.png') no-repeat;
	background-size: contain;
	background-position: top center;
	overflow: hidden;
}

article {
	margin: 1.5rem;
	padding: 1rem;
	background: #ffedd2;
	border-radius: 0.75rem;
	height: calc(98vh - 3rem - 48px);
	overflow-y: scroll;
}

section {
	border: 2px solid #cebfaa;
	margin: 0.5rem;
	background: #f2e1c7;
	padding: 0.25rem;
	border-radius: 1rem;
}

a {
	color: #0e479a;
	text-decoration: none;
}

.card a {
	border: solid 1px #362b0b85;
	margin: 0.5rem;
	padding: 0.45rem;
	border-radius: 0.5rem;
	background: #fbf6ee;
	filter: drop-shadow(0px 0px 0.5px black);
}

#categories .card {
	background: rgba(206, 191, 170, 0.4);
	padding: 0;
	overflow: hidden;
}

#categories .card h3 {
	margin: 0;
	padding: 8px 6px;
	background: rgba(206, 191, 170, 0.4);
	border-bottom: 2px solid #cebfaa;
}

p {
	margin: 2px;
}

h3,
h4,
h5,
h6 {
	margin: 4px 2px;
}

h1 {
	margin: 2px 0 !important;
}

h2 {
	margin: 6px 0px;
	border-bottom: 2px solid #3b0f0f;
}

section h2 {
	border: none;
	margin: 4px 2px;
}

hr {
	border-radius: 20px;
	border: none;
	border: 1px solid #3b0f0f;
}

.none {
	display: none;
}

.w-full {
	width: 100%;
}

td {
	border: 1px solid black;
	padding: 8px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.card ul {
	padding: 1em;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25em;
}

.card li {
	word-break: keep-all;
	width: max-content;
}

.card ul>li::marker {
	content: none;
}

.toggled-content {
	display: none;
}

[type='radio']:checked~.toggled-content {
	display: block;
}

.icon {
	cursor: pointer;
	user-select: none;
	background-color: white;
	border: 4px solid black;
	color: black;
	border-radius: 100%;
	padding: 0.5em;
}

.class-icon,
.pon-icon {
	--size: 40px;
	width: var(--size);
	height: var(--size);
	background-repeat: no-repeat;

	margin: 0.5em;
	padding: 0;

	transition: 0.25s;
}

.class-icon {
	background-image: url('./icons/class_icons.png');
	background-size: 188px;
	/* Madeline: this is a magic value */
}

.hover-invert:hover {
	filter: invert(100%) grayscale(100%);
}

.hover-invert {
	transition: 0.25s;
}

.class-icon[data-class='bow'] {
	background-position: calc(-1 * var(--size) * 2) calc(-1 * var(--size) * 0);
}

.class-icon[data-class='shield'] {
	background-position: calc(-1 * var(--size) * 0) calc(-1 * var(--size) * 0);
}

.class-icon[data-class='spear'] {
	background-position: calc(-1 * var(--size) * 1) calc(-1 * var(--size) * 0);
}

.class-icon[data-class='dark'] {
	background-position: calc(-1 * var(--size) * 2) calc(-1 * var(--size) * 1);
}

.class-single span {
	border: 4px solid #3b0f0f; /* change color when selected */
	background: #3b0f0f;
	padding: 4px 6px;
	color: white;
}

.class-title, .class-description, .skill-title, .skill-description {
	margin: 4px 6px;
	text-align: left;
}

.class-title {
	text-align: center;
}

.skill-title, .class-title {
	font-weight: 500;
}